@media screen and (min-width: 1200px) {
  button {
    cursor: pointer;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  .header {
    border-bottom: 1px solid var(--cornflower-color);
    padding-top: 24px;
  }

  .header-container {
    display: flex;
    align-items: baseline;
  }

  .header-navigation {
    display: flex;
    margin-right: auto;
    padding-top: 0;
  }

  .header-logo {
    font-family: "Raleway", sans-serif;
    color: var(--primary-text-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
  }

  .blue-logo {
    color: var(--iris-color);
  }

  .list {
    list-style: none;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .address-list {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-item {
    position: relative;
    padding-bottom: 25px;
  }

  .nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color var(--hov-foc-transit);
  }

  .nav-list.current::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--hover-focus-color);
    border-radius: 2px;
  }

  .nav-list:hover,
  .nav-list:focus,
  .nav-list.current {
    color: var(--hover-focus-color);
  }

  .contact-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    text-decoration: none;
    transition: color var(--hov-foc-transit);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: var(--hover-focus-color);
  }

  .hero {
    max-width: 1440px;
    background: var(--l-grad), url(../images/herobg-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background: var(--l-grad), url(../images/herobg-desktop@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .hero-button {
    transition: background-color var(--hov-foc-transit);
  }

  .hero-button:hover,
  .hero-button:focus {
    background-color: var(--hover-focus-color);
  }

  .about,
  .team,
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-list,
  .works-list,
  .team-list,
  .customers-list {
    display: flex;
    gap: 24px;
  }

  .about-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--grey-color);
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .about-list,
  .team-list {
    flex-wrap: nowrap;
  }

  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .section-text {
    font-weight: 400;
  }

  .works {
    display: block;
    padding-bottom: 120px;
  }

  .works-photo {
    width: calc((100% - 24px * 2) / 3);
  }

  .team {
    max-width: 1440px;
    margin: 0 auto;
  }

  .team > .container,
  .customers > .container,
  .footer > .container {
    max-width: 1200px;
  }

  .team-photo {
    width: calc((100% - 24px * 3) / 4);
  }

  .soc-link {
    transition: background-color var(--hov-foc-transit);
  }

  .soc-link:is(:hover, :focus) {
    background-color: var(--hover-focus-color);
  }

  .customers-item {
    width: calc((100% - 24px * 5) / 6);
  }

  .customers-link {
    transition: border-color var(--hov-foc-transit);
  }

  .customers-link:is(:hover, :focus) {
    border-color: var(--hover-focus-color);
  }

  .customers-icon {
    transition: fill var(--hov-foc-transit);
  }

  .customers-link:is(:hover, :focus) .customers-icon {
    fill: var(--hover-focus-color);
  }

  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .filters-button {
    transition-property: color, border-color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .filters-button:hover,
  .filters-button:focus {
    color: var(--white-color);
    border-color: transparent;
    background-color: var(--hover-focus-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .filters-list {
    margin-bottom: 72px;
  }

  .cards-link {
    transition: box-shadow var(--hov-foc-transit);
  }

  .cards-project {
    row-gap: 48px;
  }

  .cards-list {
    width: calc((100% - 24px * 2) / 3);
  }

  .cards-link:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .cards-list:is(:hover, :focus) .cards-text {
    transform: translateY(0);
  }

  .cards-text {
    display: unset;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey-color);
    background-color: var(--iris-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--hov-foc-transit);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
  }

  .footer-logobox {
    display: block;
    margin-right: 120px;
  }

  .soc-media {
    margin-right: auto;
  }

  .footer-link {
    transition: background-color var(--hov-foc-transit);
  }

  .footer-link:is(:hover, :focus) {
    background-color: var(--bg-hover-color);
  }

  .footer-input {
    transition: border-color var(--hov-foc-transit);
  }

  .footer-input:is(:hover, :focus) {
    border-color: var(--iris-color);
  }

  .footer-btn {
    transition: background-color var(--hov-foc-transit);
  }

  .footer-btn:hover,
  .footer-btn:focus {
    background-color: var(--hover-focus-color);
  }

  .close-btn {
    transition: background-color var(--hov-foc-transit);
  }

  .icon-modal {
    transition: fill var(--hov-foc-transit);
  }

  .close-btn:is(:hover, :focus) {
    background-color: var(--hover-focus-color);
    border-color: transparent;
  }

  .close-btn:is(:hover, :focus) .icon-modal {
    fill: var(--white-color);
  }

  .input-icon {
    transition: fill var(--hov-foc-transit);
  }

  .modal-input {
    transition: border-color var(--hov-foc-transit);
  }

  .modal-input:focus {
    border-color: var(--iris-color);
  }

  .modal-input:focus + .input-icon {
    fill: var(--iris-color);
  }

  .modal-comment {
    transition: border-color var(--hov-foc-transit);
  }

  .modal-comment:focus {
    border-color: var(--iris-color);
  }

  .policy-link {
    transition: color var(--hov-foc-transit);
  }

  .policy-link:is(:hover, :focus) {
    color: var(--hover-focus-color);
  }

  .send-btn {
    transition: background-color var(--hov-foc-transit);
  }

  .send-btn:hover,
  .send-btn:focus {
    background-color: var(--hover-focus-color);
  }
}
